---
---

.row-legend
{
    margin: 20px 20px 0 20px;
}

.about-legend
{
    display: inline-block;
    width: 20px;
}

.skill-cat
{
    margin-top: 20px;
}

.skill-bar
{
    position: relative;
    height: 15px;
    width: 75%;
    background-image: linear-gradient(to bottom right, #CCCCCC, #FFFFFF);
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.skill-spec
{
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(51,198,184, 1), rgba(51,198,184, 0.5));
    /*background-color: #33C6B8;*/
    border-radius: 3px;
    z-index: 10;
}

/* Tooltip text */
.skill-bar .tooltiptext {
  visibility: hidden;
  display: block;
  background-image: linear-gradient(to bottom right, #F8F8F8, #FFFFFF);
  color: #000000;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  top: 15px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
  position: relative;
  z-index: 100;
}

.skill-bar:hover .tooltiptext {
  visibility: visible;
}