// Block: container-top

.container-top {
  display: block;
  padding-top: 4rem;
  background-color: $theme-color-main;
  text-align: center;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding-top: 7rem;
  }

  // Element: container-top-image

  &-image {
    width: 220px;
    height: 220px;
    transition: all .3s;

    &:hover {
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }

    @include media-breakpoint-up(lg) {
      width: 320px;
      height: 320px;
    }
  }

  // Element: container-top-name

  &-name {
    @extend .theme-font;
    font-size: 2.5rem;
    padding-top: $spacer / 2;
    color: darken($theme-color-main, 50%);

    @include media-breakpoint-up(lg) {
      padding-top: $spacer;
      font-size: 4rem;
    }
  }

  // Element: container-top-headline

  &-headline {
    font-size: 1.5rem;
    margin: 1rem;
    color: $theme-color-main-contrast;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }

   .social a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
  }
  
   .social a:hover {
    background: #778492;
  }
  
   .social a .svg-inline--fa {
    font-size: 20px;
    margin-top: 8px;
  }
}
