<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-github-alt aria-hidden="true"></i>
                <a href="{{ site.github }}">
                    {{ site.github }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-linkedin-in" aria-hidden="true"></i>
                <a href="{{ site.linkedin }}">
                    {{ site.linkedin }}
                </a>
            </div>
        </div>
    </div>
</footer>