
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
            <h5>&nbsp;</h5>
            <h5> Machine Learning | Neuroscience | Dog Fathering </h5>          
            <ul class="list-inline social-buttons">
              <li><a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a></li>
              {% for network in site.social %}
              <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
              {% endfor %}
          </ul>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
