<!-- Skills Start -->
<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ page.content | markdownify }}
            <!-- <iframe src="https://giphy.com/embed/hrRJ41JB2zlgZiYcCw" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
        </div>
        <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="img/projects/jetpacktocat.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/projects/jetpacktocat.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/projects/jetpacktocat.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        </div>
        <!-- <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                {% for item in site.projects %}
                <div class="row portfolio-row justify-content-center">
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a target="_blank" class="title-link" href="{{ item.url }}"><h5>{{ item.name }}</h5></a>
                            <p class="project-des">
                                {{ item.description }}
                            </p>
                            <p class="skills">
                                <span class="bold">Skills:</span> {{ item.skills }}
                            </p>
                        </div>
                        <div class="row">
                            <a target="_blank" href="{{ item.url }}">
                                <img class="portfolio-img" src={{item.image}}>
                            </a>
                        </div>
                        <div class="row">
                            {% for button in item.buttons %}
                                {% if item.buttons|length == 2 %}
                                    <div class="col-6 text-center">
                                        <a target="_blank" href="{{ button.url }}" class="button btn portfolio-btn rounded-0">{{ button.name }}</a>
                                    </div>
                                {% else %}
                                    <div class="col-12 text-center">
                                        <a target="_blank" href="{{ button.url }}" class="button btn portfolio-btn rounded-0">{{ button.name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> -->
    </div>
</section>  
    <!-- Skills End -->