<!-- Skills Start -->
<section id="{{ page.section-type }}" class="container content-section text-center">
<div class="row ">
    <div class="col-md-10 col-md-offset-1">
        {{ page.content | markdownify }}
        <p>
            1 - Basic<span class="about-legend"></span>
            2 - Novice<span class="about-legend"></span>
            3 - Intermediate
        </p>
        <p class="m-0">
            4 - Advanced<span class="about-legend"></span>
            5 - Expert
        </p>
    </div>
    <!-- <div class="row row-legend justify-content-center">
        <div class="col-12 p-0 text-center">
            
        </div>
    </div> -->
    <div class="row row-legend justify-content-center about-header">
        Hover cursor over bars for more information
    </div>
    <div class="row about-row justify-content-center">
        {% for item in site.skills %}
        <div class="col-lg-3 col-md-6 col-12">
            <div class="skill-cat text-center">
                <h5>{{ item.topic }}</h5>
            </div>
            <div class="row">
                {% for subitem in item.subtopic %}
                <div class="col-12 text-right">
                    <p>{{ subitem.name }} - {{ subitem.level }}</p>
                    <div class="skill-bar">
                        <div class="skill-spec" style="width: {{ subitem.percent }}%;">
                        </div>
                        <span class="tooltiptext">{{ subitem.text }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>  
<!-- Skills End -->