<header class="container-fluid container-top">
    <div class="row">
        <col-md-12>
            <img src="./web-dist/images/profile-image.jpg" class="container-top-image img-circle m-x-auto" alt="{{ site.brand }}">
            <h1 class="container-top-name">
                {{ site.brand }}
            </h1>
            <h2 class="container-top-headline">
                {{ site.headline }}
            </h2>
            <ul class="social list-inline">
                <li class="list-inline-item"><a href="mailto:{{ site.email }}"><i class="fab fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="{{ site.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="{{ site.github }}"><i class="fab fa-github-alt"></i></a></li>                  
            </ul> 
        </col-md-12>
    </div>
</header>
